@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100%;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /*font-size: 14px;*/
    color: #000;
    margin: 0;
    padding: 0;
}



.quiz_timer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.quiz_select {
    padding: 10px;
}

.timer_select {
    padding: 10px;
}
.btn_start {
    margin-top: 300px;
}